
* {
    box-sizing: border-box;
}

body {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 600px;
    background-image: url("../img/oldcity.svg");
    background-size: 100%;
}

/********************************************************/

.grid {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center; /* center vertically  */
    justify-content: center; /* center horizontally */
    flex-wrap: wrap;
}

div.card_container {
    margin: 10px;
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .front {
    height:100%;
    width: 100%;
    /*background-color: mediumvioletred;*/
    /*border: 3px solid darkmagenta;*/
    border-radius: 10px;

}

.card .back {
    height:100%;
    width: 100%;
    transform: rotateY( 180deg );
    border: 3px gray solid;
    border-radius: 10px;
    font-size: 2em;
    display: flex;
    align-items: center; /* center vertically  */
    justify-content: center; /* center horizontally */
    background-color: #FFF0D2;
}

.mysvg {
    border: 1px solid black;
    height: 100px;
    border-radius: 5px;
}


.card.flipped {
    transform: rotateY( 180deg );
}

